PRINTBRIDGE_PORT=17890
PRINTBRIDGE_HOST=127.0.0.1
PRINTBRIDGE_TOKEN=
PRINTBRIDGE_ALLOWED_ORIGINS=http://localhost:5173
PRINTBRIDGE_DATA_DIR=./data
PRINTER_TRANSPORT=serial
PRINTER_SERIAL_PORT=COM5
PRINTER_SERIAL_BAUD=9600
PRINT_JOB_TIMEOUT_MS=15000
PRINTER_COLUMNS=48
PRINTER_CHARSET=cp437
QUEUE_MAX_ATTEMPTS=5
QUEUE_RETRY_BASE_MS=2000
QUEUE_WORKER_INTERVAL_MS=2000
